// Colors
$bg: #0D111C;
$accent: rgb(35,176,255);
$accent-alpha-70: rgba(35,176,255,.7);
$accent-alpha-20: rgba(35,176,255,.2);
$background: rgb(29, 33, 44);
$color: rgb(255, 255, 255);
$border-color: rgba(255, 255, 255, 1);

// Width
$phone-max-width: 683px;
$tablet-max-width: 899px;
